[defaults]
inventory = inventories/vagrant/split/hosts.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
local_tmp = /tmp/medicina-laboral-ansible
vault_password_file = ~/.config/medicina-laboral/ansible-vault-password

[ssh_connection]
control_path_dir = /tmp/medicina-laboral-ansible-cp

[privilege_escalation]
become = True
become_method = sudo
